# Environment variables
PORT=3000
SERVER_WALLET_ADDRESS=0xYourWalletAddress
NETWORK=base-sepolia
TOKEN_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
PRICE_AMOUNT=0.01
FACILITATOR_URL=https://x402.org/facilitator
